.form {
  text-align: left;
  color: white;
  margin: 5%;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 5px;
  text-align: left;
}
